<!DOCTYPE html>
<html>
    <head>
        <title>
            HomePage
        </title>
    </head>
    <body>
        <p align = "right">
            v1
        </p>
        <h1>
            Container Cost Analysis Dashboard for Platform Engineering
        </h1>
        <p>
            Please Select One of the Below Options:
        </p>
        <p align ="center">
            <a href="/calculation">
                <button class = grey style="height:75px;width:150px">
                    Cost Calculation
                </button>
            </a>
    </body>
</html>